<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

    <xacro:if value="${add_realsense_d435}">

        <xacro:arg name="use_nominal_extrinsics" default="true" />
        <xacro:arg name="add_plug" default="false" />
        <xacro:arg name="use_mesh" default="true" />
        <xacro:include filename="$(find robot_description)/urdf/realsence_d435_macro.xacro" />

        <xacro:arg name="add_rgbd" default="false" />
        <xacro:property name="add_rgbd" value="$(arg add_rgbd)" />

        <xacro:sensor_d435 parent="base_link" use_nominal_extrinsics="$(arg use_nominal_extrinsics)"
            add_plug="$(arg add_plug)" use_mesh="$(arg use_mesh)">
            <origin xyz="0.047 0 0.075" rpy="0 0 0" />
        </xacro:sensor_d435>

    </xacro:if>

</robot> 