<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

    <xacro:if value="${add_rplidar_a2}">

        <joint name="scan_joint" type="fixed">
            <parent link="base_link" />
            <child link="base_scan" />
            <origin xyz="-0.032 0 0.124" rpy="0 0 0" />
        </joint>

        <link name="base_scan">
            <visual>
                <origin xyz="0.005 0.03 -0.031" rpy="0 0 2.8" />
                <geometry>
                    <mesh filename="file://$(find robot_description)/meshes/rplidar_a2m8.stl"
                        scale="0.001 0.001 0.001" />
                </geometry>
                <material name="dark" />
            </visual>

            <collision>
                <origin xyz="0.015 0 -0.0065" rpy="0 0 0" />
                <geometry>
                    <cylinder length="0.0315" radius="0.055" />
                </geometry>
            </collision>

            <inertial>
                <mass value="0.114" />
                <origin xyz="0 0 0" />
                <inertia ixx="0.001" ixy="0.0" ixz="0.0" iyy="0.001" iyz="0.0" izz="0.001" />
            </inertial>
        </link>

        <xacro:if value="${simulation}">

            <gazebo reference="base_scan">
                <sensor name='gpu_lidar' type='gpu_lidar'>
                    <topic>scan</topic>
                    <update_rate>10</update_rate>
                    <gz_frame_id>base_scan</gz_frame_id>
                    <lidar>
                        <scan>
                            <horizontal>
                                <samples>640</samples>
                                <resolution>1</resolution>
                                <min_angle>-3.14</min_angle>
                                <max_angle>3.14</max_angle>
                            </horizontal>
                            <vertical>
                                <samples>16</samples>
                                <resolution>1</resolution>
                                <min_angle>-0.261799</min_angle>
                                <max_angle>0.261799</max_angle>
                            </vertical>
                        </scan>
                        <range>
                            <min>0.08</min>
                            <max>10.0</max>
                            <resolution>0.01</resolution>
                        </range>
                    </lidar>
                    <alwaysOn>1</alwaysOn>
                    <visualize>true</visualize>
                </sensor>
            </gazebo>

        </xacro:if>

    </xacro:if>

</robot>