<?xml version="1.0"?>
<robot name="robot" xmlns:xacro="http://ros.org/wiki/xacro">

	<xacro:include filename="$(find robot_description)/urdf/robot_arguments.xacro" />
	<xacro:include filename="$(find robot_description)/urdf/materials.xacro" />
	<xacro:include filename="$(find robot_description)/urdf/robot_core.xacro" />
	<xacro:include filename="$(find robot_description)/urdf/rplidar_a2m8.xacro" />
	<xacro:include filename="$(find robot_description)/urdf/realsence_d435.xacro" />

</robot>